{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}
{% block content %}
<div id="deux_cols">
  <div id="col_droite">
    {#% block categories %}{% endblock %#}
  </div>

  <div id="col_gauche">
    <div class="article">
      <h5>{{ page.author }}, le
        {% if page.modified %}
        {{ page.locale_modified }}
        #{% else %}
        {{ page.date }}
        {% endif %}
      </h5>

      <h1>page.title</h1>

      {{ page.content }}

    </div>
  </div>

  <div class="clear">&nbsp;</div>
</div>
{% endblock %}
